.position-relative{
    position:relative !important;
}

.position-fixed{
    position:fixed !important;
}

.flex-align-self-start{
    align-self:flex-start !important;
}

.display-none{
    display:none !important;
}

.display-block{
    display:block !important;
}

.full-width{
    width:100% !important;
}