
$mdc-theme-primary: #2196f3;
$mdc-theme-on-primary: #2b2b2b;
$mdc-theme-secondary: #f37f21;
$mdc-theme-on-secondary: #2b2b2b;
$mdc-theme-surface: #FFFFFF;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;
$gray:#868e96;
$light-gray:#f1f3f5;
$extra-light-gray:#f8f9fa;
$text-validation-color:#f56342;

