@import "@material/button/mdc-button";

.mdc-button--app-bar{
    @include mdc-button-filled-accessible($mdc-theme-secondary);
    margin:0 0.5em;
    color:white;
    padding:0 16px;
}

.mdc-button--form{
    align-self:center;
    margin:0.5em 0;
}

.mdc-button--user-search{
    margin-left:1em;
}
