.select-container{
    margin:0;
}

.select-container--form{
    margin:0.5em 0;
}

.select-container--user-search{
    margin:0 0.5em 0 0;
}

.select-container--table{
    margin:1em 0;
    width:30%;
}